############################
# love-maker configuration #
############################

##############################################################################
# Usage Note                                                                 #
##############################################################################
# Configuration property names and values are to be split by a colon.        #
# Everything after the colon on a line will be interpreted as the value of a #
# property. The only valid property names are the ones that originally came  #
# with this version of love-maker in this file. To use default values, leave #
# the field empty after the colon.                                           #
##############################################################################

## LÖVE Version - format: version MAJOR.MINOR.BUILD
VERSION_MAJOR:
VERSION_MINOR:
VERSION_BUILD:

## Build Variables
PROJECT_NAME:
SOURCE_DIRECTORY:
BINARY_DIRECTORY:
BUILD_MODE: